/* start header stytle */

/* end header style */


/* start van pagina-styling */

body {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
}

/* heading */

div.heading {
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 2rem;
}

div.heading-content {
    padding:2rem;
}

/* info sectie */

section.info {
    background-color: #F5F5F5   ;
    padding: 2rem;  
    margin-top: 1rem;
}

div.lasergraveren {
    margin-top: 1rem;  
}

img {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

img.Lasergraveren {
    max-height: 300px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

div.voordelen-mogelijkheden {
    margin-top: 100px;
    margin-bottom: 60px;
}

.sum {
    margin-bottom: 10px;
}

img.vrouw {
    height: 300px;
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
}

/* stappenplan intro */

.stap-info {
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 2rem;
    padding: 2rem; 
}


/* stappenplan */


.stappen-plan {
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stap-lijst {
    background: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    color: #333;
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    padding: 20px 10px;
    position: relative;
    z-index: 10;
}

.stap {
    padding: 0 20px;
    flex-basis: 1;
    -webkit-box-flex: 1;
    -ms-flex-positve:1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 170px;
    position: relative;
}

.stap + .stap:after {
    content: '';
    position: absolute;
    left: 0;
    top: 19px;
    background: rgb(254,141,25) ;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
}

.progress-count {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    color: transparent;
}

.progress-count:after {
    content: '';
    height: 40px;
    width:40px;
    background: rgb(254,141,25) ;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}

.progress-count:before {
    content: '';
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
}

.progress-label {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.current-item .progress-count:before,
.current-item ~ .stap .progress-count:before {
    display: none;
}    

.current-item ~ .stap .progress-count:after {
    height:10px;
    width:10px;
}

.current-item ~ .stap .progress-label {
    opacity: 0.5;
}

.current-item .progress-count:after {
    background-color: #fff;
    border: 2px solid #fe8d19;
}

.current-item .progress-count {
    color: #fe8d19;

}

/* service info */

div.service-kader {
    border-radius: 10px;
    color: #E8EAED;
    background-color: #1C1D21;
    margin: 2rem;
    margin-top: 3rem;
}

div.service {
    padding:2rem;
}

/* end pagina-styling */

/* start footer styling */

/* end footer styling */

