/* start header stytle */
.header {
    background-image: linear-gradient(to right,#121417, #1D1F23, black);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

img.logo {
    max-height: 110px;
    padding: 0.25rem;
    margin-left: 6rem;
}

div.login-desk {
    margin-right: 6rem;
}

img.login-btn {
    max-height: 6rem;
    display: flex;
    align-items: center;
    align-content: center;
    
}

img.winkelkarretje {
    max-width: 2rem;
    position: fixed;
    top: 20px; 
    right: 20px; 
}

ul.nav {
    display: flex;
    list-style-type:none;
    gap: 3rem;
}

li.nav-element a {
    text-decoration: none;
    color: #FFFAF3;
}

li.nav-element a:hover {
    color: #FD8F1B;
}

li.nav-element a:active {
    color: #FD8F1B;
}

div.responsive {
    max-height: 6rem;
    align-items: center;
    max-height: 2rem;
    margin-right: 5rem;
    display: none;
}











/* responsive design / media query's of header */

@media only screen and (max-width: 1100px) {
    .header {
        align-items: center;
    }

    img.logo {
        margin-left: 150px;
    }

    div.login-desk {
        display: none;
    }

    div.responsive {
        display: block;
        margin-right: 2rem;
        margin-bottom: 2.5rem;
    }

    img.responsive-btn {
        max-width: 2.5rem;
        /* margin-left: auto; */
    }

    img.winkelkarretje {
        display: none;
    }

    ul.nav {
        display: none;
    }
}
/* end header style */


/* start van pagina-styling */

body {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
}

/* heading */

div.heading {
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 2rem;
}

div.heading-content {
    padding:2rem;
}

/* info sectie */

section.info {
    background-color: #F5F5F5   ;
    padding: 2rem;  
    margin-top: 1rem;
}

div.lasergraveren {
    margin-top: 1rem;  
}

img {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

img.Lasergraveren {
    max-height: 300px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

div.voordelen-mogelijkheden {
    margin-top: 100px;
    margin-bottom: 60px;
}

.sum {
    margin-bottom: 10px;
}

img.vrouw {
    height: 300px;
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
}

/* stappenplan intro */

.stap-info {
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 2rem;
    padding: 2rem; 
}


/* stappenplan */


.stappen-plan {
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stap-lijst {
    background: #fff;
    /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1); */
    color: #333;
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    padding: 20px 10px;
    position: relative;
    z-index: 10;
}

.stap {
    padding: 0 20px;
    flex-basis: 1;
    -webkit-box-flex: 1;
    -ms-flex-positve:1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 170px;
    position: relative;
}

.stap + .stap:after {
    content: '';
    position: absolute;
    left: 0;
    top: 19px;
    background: rgb(254,141,25) ;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
}

.progress-count {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    color: transparent;
}

.progress-count:after {
    content: '';
    height: 40px;
    width:40px;
    background: rgb(254,141,25) ;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}

.progress-count:before {
    content: '';
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
}

.progress-label {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.current-item .progress-count:before,
.current-item ~ .stap .progress-count:before {
    display: none;
}    

.current-item ~ .stap .progress-count:after {
    height:10px;
    width:10px;
}

.current-item ~ .stap .progress-label {
    opacity: 0.5;
}

.current-item .progress-count:after {
    background-color: #fff;
    border: 2px solid #fe8d19;
}

.current-item .progress-count {
    color: #fe8d19;
}

/* Aanvullende stijlen voor het formulier */

section.form {
    height: 10rem;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 2rem 10%;
}

.form h3 {
    margin-bottom: 5rem;
    text-align: center;
}

.materialen {
    display: flex;
    margin-bottom: 20px;
    text-align: center;
}

.materialen label {
    font-weight: bold;
    display: block;
}

button {
    background-color: #fe8d19;
    color: #fff;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

div.btn-form {
    text-align: center;
    margin-bottom: 2rem;
}

button:hover {
    background-color: #e07316;
}


/* service info */

div.service-kader {
    border-radius: 10px;
    color: #E8EAED;
    background-color: #1C1D21;
    margin: 2rem;
    margin-top: 3rem;
    margin-top: 2rem;
}

div.service {
    padding:2rem;
}

/* end pagina-styling */

/* start footer styling */
footer {
    background-color: #F5F3ED;
}

section.hele-foot-nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    /* Laat de div's uitlijnen aan de bovenkant -> In dit geval de h2's */
    /* background-color: #F5F3ED; */
}

footer h2 {
    margin-top: 3rem;
}

.foot-section {
    margin-bottom: 2rem;
    justify-content: center;
}


ul.onderdeel {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.onderdeel li {
    margin-bottom: 0.5rem;
    
}

.onderdeel a {
    list-style: none;
    text-decoration: none;
    color: black;
}

/* form in footer */

div.foot-form {
    max-width: 20rem;
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); */
}

div.kader {
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: #FD8D1C;
    padding: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.kader p {
    margin-top: 0.25rem;
    text-align: left;
}

label {
    display: none; /* Ik gebruik liever een placeholder */
}

form.korting {
    padding: 0;
    margin-left: 0;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}

.form-btn {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #fff; 
    color: #fff; 
    background-color: #FD8D1C; 
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.form-btn:hover {
    background-color: white;
    color: #FD8D1C;
}

.form-btn:active /* dit is de command voor de verandering wanneer je de knop indrukt */ {
    transform: translateY(2px);
    /* dit deel simuleert, een druk visualisatie. Nieuwe content! */
}

/* copyright */

.copy {
    padding-bottom: 0rem;
    text-align: center;
}

.font-small {
    font-size: 12px;
}

/* media query's voor de footer */
/* media query voor 1250px en minder */

@media (max-width: 1250px) {
    section.hele-foot-nav {
        font-size: 12px;
    }

    .copy {
        font-size: 14px;
    }

    .font-small {
        font-size: 11px;
    }

}

@media (max-width: 950px) {
    section.hele-foot-nav {
        display: block;
        font-size: 14px;
    }

    div.foot-section {
        margin: 0;
    }

    .foot-section h2 {
        padding-left: 2rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
        position: relative;
    }

    .foot-section h2::after {
        content: '';
        position: absolute; 
        bottom: 0; 
        left: 1rem; 
        width: 95%; 
        height: 1px; 
        background-color: #000;
    }

    div.foot-form {
        display: none;
    }


    div.foot-form {
        padding-left: 2rem;
        padding-top: 2rem;
    }

    ul.foot-section {
        margin-bottom: 0;
    }

    .foot-section li {
        margin-left: 2rem;
    }
    
}
/* end footer styling */

